
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import './bootstrap-style.scss';
@import './variables.scss';

body {
  // font-family: 'Open Sans', sans-serif;

}

h1, h2, h3 {
  margin-bottom: 4px;
  margin-top: 4px;
}
h1 {
  font-size: 3em;
}

p {
  margin-bottom: 0px;
}

.ql-home-page {
  .home-page-poster{
    width: 100%;
  }
}

.spacer1 {
  height:10px;
}

.correct-color {
  color: $correct-color;
}

.incorrect-color {
  color: $incorrect-color;
}

.cursor-pointer {
  cursor: pointer;
}

.ql-child-container {
  > .container {
    padding-top: 20px;
  }
}

.ql-page-container {

  .ql-top-bar {
    background: #eee;

    .ql-button-bar {
      float:right;
      text-decoration:none;
      width: 50%;

      a {
        display:inline-block;
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: none;
        color: black;

        &:hover {
          font-weight: bold;
        }
      }
    } // . ql-button-bar
  } // .ql-top-bar

}


.ql-course-code, .ql-course-semester, .ql-enrollment-code {
  text-transform: uppercase;
}


.uppercase {
  text-transform: uppercase;
}

@keyframes colorPulse {
  0% {background-color: rgba(150,150,150,0.8);}
  100% {background-color: rgba(30,30,30,0.8);}
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#page-loading-spinner {
  animation: colorPulse 1s infinite alternate, fadein 1s;
  position: fixed;
  top:80px;
  left: 48%;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background: rgba(100,100,100,0.6);
  color: white;
  font-size: 120%;
  font-weight: bold;
  -webkit-box-shadow: 4px 4px 34px -8px rgba(0,0,0,0.46);
  -moz-box-shadow: 4px 4px 34px -8px rgba(0,0,0,0.46);
  box-shadow: 4px 4px 34px -8px rgba(0,0,0,0.46);
  z-index: 99;
}

.ql-header-text-input {
  font-size: 2em;
  border: none;
}


.clear {
  clear: both;
}

.m-margin-top {
  margin-top: 10px;
}

.list-item-selected {
  font-weight: bold;
}

.ql-subs-loading {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 140%;
  padding: 40px;
  text-align: center;
}

.center-text {
  text-align: center;
}

@media (max-width: 480px) {
  .ql-child-container > .container {

    &.ql-session-display {
      padding-top:0;
    }
  }
}
