

@mixin list-item() {
  padding: 16px;
  background: white;
  font-size: 120%;
  border-bottom: 1px solid #ddd;
  position: relative;

  &.click {
    cursor: pointer;
  }

  &:hover {
    background: #efefef;
  }

  .title {
    font-weight: bold;
  }

  .details {
    float: right;
  }

  .controls-expander {

  }

  .btn-group.dropdown {
    float: right;
  }

  .btn-group.dropdown {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 25px;
    cursor: pointer;
  }

  .controls {
    z-index:10;

    .dropdown-toggle {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      z-index: 10;

      &:hover {
        background: #ddd;
      }
    }

    .dropdown-menu {
      z-index: 20;
    }
  }

  // @media (prefers-color-scheme: dark) {
  //   background: $grey-dark;
  //   border-color: $darker-grey-dark;

  //   &:hover {
  //     background: $light-grey-dark;
  //   }

  //   .controls > .dropdown-toggle:hover {
  //     background: $light-grey-dark;
  //   }
  // }

}
