/* Custom page CSS */
// Variables

// colors
$main-text: #212121;
$blue: #4DAA60;
$light-green: #cbeab4;
$light-green-hover: #bfc6ba;
$black: #000000;
$grey: #F2F2F2;
$slightly-darker-grey: #e2e2e2;
$darker-grey: #a8a8a8;
$red: #ff0000;
$dark-green: #00b200;
$light-red: #fce3e3;
$orange: #ffb649;
$background: #fff;
$background-grey: #F3F3F4;
$navbar: #fff;
$hover-color: #676A6C;
$inactive-color: #989898;

$disabled: #676A6C;

$font-stack: "Avenir", Helvetica, Arial, sans-serif;

$correct-color: #5ACE5F;
$incorrect-color: #F74E4E;
$neutral-color: #DDDDDD;
$incorrect-fill: #FEEDED;
$correct-fill: #DDEADD;
$neutral-fill: #F8F8F8;

$tag-silver: #eeeeee;
$tag-gold: #ffe8a9;


// dark mode colors
$main-text-dark: #ececec;
$light-blue-dark: rgb(104, 200, 255);
$blue-dark: rgb(11, 123, 172);
$light-green-dark: #cbeab4;
$light-green-hover-dark: #bfc6ba;
$black-dark: #000000;
$light-grey-dark: rgb(110,110,110);
$grey-dark: rgb(75, 75, 75);
$slightly-darker-grey-dark: rgb(70,70,70);
$darker-grey-dark: rgb(50,50,50);
$even-darker-grey-dark: rgb(40,40,40);
$red-dark: #ff0000;
$dark-green-dark: #00b200;
$light-red-dark: #fce3e3;
$orange-dark: #ffb649;
$background-dark: rgb(24, 24, 24);
$background-grey-dark: rgb(35, 35, 35);

$navbar-dark: rgb(50,50,50);
$hover-color-dark: #676A6C;
$inactive-color-dark: #989898;

$tag-silver-dark: #616161;
$tag-gold-dark: #8f7a42;