@import '../bootstrap-style.scss';
@import '../variables.scss';

// Do something with these
$blue-bar: rgba(47,176,232, 0.4);
$green-bar: rgba(42,167,134, 0.3);
$red-bar: rgba(167,37,38, 0.3);

.ql-question-display {

  &.interactive {
    .ql-short-answer {
      color: black;
      &:hover {
        border: 1px solid $black;
      }
    }
    .ql-answer-content-container:hover {
      //border: 1px solid $blue;
      //color: $blue;
      border: 1px solid $black;
      font-weight: bold;
      cursor: pointer;

      .ql-checkbox {
        border-color: $blue;
        &:after {
          content: '\2713';
          position: absolute;
          font-size: 18px;
          top: 0px;
          left: 3px;
          color: $blue;
        }
      }
    }
  }

  .ql-question-content {
    font-size: 3em;
    background: white;
    border-radius: 20px;
    // box-shadow: 0px 2px #000000A0;
    padding: 16px;
    //text-align:center;
  }

  .ql-question-solution {
    font-size: 3em;
    background: white;
    padding: 16px;
    margin-top: 20px;

    .ql-question-solution-content {
      font-size: 0.5em;
    }
  }


  .ql-subs-loading {
    padding: 10px;
  }

  .bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 5px;

    .submit-button {
      width: 100%;
      max-width: 400px;
    }
   }

   .btn-container {

   }

   .btn-group {
     //max-width: 400px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     padding-top: 8px;
     .btn {
       width: 100%;
       max-width: 200px;
     }
   }

  .ql-answers {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    .msInfo {
      font-size: 1.5em;
    }

    .ql-short-answer {
      width: 100%;
      //max-width: 400px;
      font-size: 2em;
      background: white;
      display: inline-block;
      position: relative;
      .cke_editable {
        min-height: 110px;
      }

      textarea {
        resize: vertical;
      }
    }

    .ql-numerical-answer {
      min-width: 50px;
      text-align: center;
      font-size: 2em;
      background: white;
      display: inline-block;
      position: relative;

      input[type=number] {
        width: 200px;
      }
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .ql-numerical-answer-correct {
      margin-top:5px;
      font-size: 1.5em;
      text-align: center;
      margin: auto;
    }

    .ql-answer-content-container {
      width: 100%;
      max-width: 400px;
      font-size: 2em;
      background: white;
      display: inline-block;
      margin-top: 10px;
      border: 1px solid #ccc;
      position: relative;

      .answer-container {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 20;

        .ql-mc {
          font-weight: bold;
          margin-right: 8px;
        }

        .ql-wysiwyg-content {
          overflow-x: visible;
          flex: 1;
        }

        .ql-tf-content {
          // margin-left: 140px;
          text-align: center;
          flex: 1;
        }

        .ql-ms-content {
          // margin-left: 40px;
        }

        .ql-checkbox {
          float: left;
          -webkit-appearance: none;
          background-color: transparent;
          border: 2px solid #cacece;
          padding: 10px;
          border-radius: 3px;
          display: inline-block;
          position: relative;
          margin-left: 4px;
          margin-right: 8px;
        }
      }

      .stat-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: transparent;
        transition: 0.6s ease-out;
        transition-property: width, background-color;
        z-index: 10;

        &.show-stats {
          background-color: $blue-bar;
          color: $main-text;
        }
        &.show-stats-correct {
          background-color: $green-bar;
          color: $main-text;
        }
        &.show-stats-incorrect {
          background-color: $red-bar;
          color: $main-text;
        }
      }
    }

    .q-submitted {
      outline: 2px solid $blue;
      color: $blue;
      font-weight: bold;

      &:hover {
        outline: 2px solid $blue;
      }

      .ql-checkbox:after {
        content: '✓';
        position: absolute;
        top: -3px;
        left: 2px;
        font-size: 22px;
      }

      .stat-bar {
        &.show-stats {
          background-color: $blue-bar;
          color: $blue;
          // fix this colour
        }
      }
    }

    .q-submitted-quiz {
      outline: 2px solid $blue;
      color: $blue;
      font-weight: bold;
    }



  }

} // end .ql-question-display

@media (max-width: 991px) {
  .ql-question-display {
    font-size: 0.75em;
  }
}
