@import '../variables.scss';

.ql-question-edit-item {

  .editor-wrapper {

    &.question-editor {
      font-size: 2em;
      border: 1px solid #ccc;
      border-radius: 2px;
      margin-bottom: 5px;
    }

    &.answer-editor {
      border: 1px solid #ccc;
      border-radius: 2px;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
    }

    &.solution-editor {
      font-size: 2em;
      border: 1px solid #ccc;
      border-radius: 2px;
      margin-top: 20px;
    }

    .cke_textarea_inline {
      padding: 8px;
      // padding-bottom: 2px;
      line-height: 1.4em;

      &.cke_focus {
        // outline: $blue 2px solid;
        outline: none;
        box-shadow: 0 0 1px 2px $blue;
      }
    }

  }

  .numerical-answer-editor {
    // font-size: 1.75em;
    // border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 10px;
    border: none;
    display: flex;
    justify-content: flex-start;
    .ql-num-label {
      margin-top: 5px;
      margin-left: 10px;
      font-size: 0.75em;
    }
    label {
      font-size: 0.75em;
      margin-right: 5px;
      margin-left: 5px;
    }
    input[type=number] {
      width: 150px;
      margin-left: 5px;
      margin-right: 10px;
      margin-top: 5px;
      font-size: 0.9em;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .header {
    margin-bottom: 8px;

    select.question-type {
      width: 200px;
    }

    .metadata-row {
      margin-bottom: 12px;
    }

    .session-options {
      padding-bottom: 5px;
      padding-top: 5px;
      border: 1px solid #ccc;
      border-radius: 2px;
      margin-bottom: 12px;
      margin-right: 1px;
      margin-left: 1px;
      display: flex;
      flex-direction: row;

      .qnumber {
        font-size: 130%;
        font-weight: bold;
        padding-right: 5px;
        padding-left: 5px;
        }

      div {
        display: flex;
        flex-direction: row;
        .qoption-label {
          padding-right: 5px;
          padding-left: 8px;
          font-size: 130%;
        }
        input {
          width: 4em;
        }

      }

    }
  }

  .question-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;

    .question-editor {
      flex: 1;
    }

    .trash-icon {
      color: #bbb;
      cursor: pointer;
      font-weight: bold;
      font-size: 160%;
      width: 40px;
      padding: 10px;
      text-align: center;

      &:hover {
        color: #888;
      }
    }
  }

  .answer-no-wysiwyg {
    font-size: 120%;
    font-weight: bold;
    padding: 0px; // was 8px
    text-align: center;
    border: 1px solid #ccc;
    height: 42px;
  }


  .small-editor-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;

    .answer-option {
      margin-bottom: 0;
      margin-top: 6px;
      font-size: 140%;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;

      .answer-editor {
        display: inline-block;
        flex: 1;
      }

      > span {
        font-weight: bold;
        width: 40px;
        max-height: 42px;
        padding: 10px;
        border: 1px solid #ccc;
        border-right:none;
        text-align: center;
      }

      span.answer-key {
      }
      span.correct {
        cursor: pointer;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      .trash-icon {
        max-height: unset;
        border: none;
        color: #bbb;
        cursor: pointer;
        &:hover {
          color: #888;
        }
      }
    }
  }

  .add-question-row-item {
    cursor: pointer;
    border: 1px dashed #ddd;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    color: #888;

    &:hover {
      color: $blue;
      border-color: $blue;
    }

  }

  .editor-wrapper {

  }

  .col-md-6 {

  }
} // end .ql-question-edit-item
